In [1]:
# declear veriable
# veriables are the container used to store any data types
X=10

In [3]:
# print the veriable
print(X)

10

In [5]:
# check the data type of veriable
type(X)

int

In [7]:
# enter the data type 
int_1=20

# show the data type
print ('data type of the veriable',type(int_1))

data type of the veriable <class 'int'>

In [9]:
# creat an float data type
float_1=20.38

# show the data type
print ('data type of the veriable',type(float_1))

data type of the veriable <class 'float'>

In [11]:
# create an string space data type
string_1='jafar'

# show the data type
print ('data type of the veriable',type(string_1))

data type of the veriable <class 'str'>

In [13]:
# creat an list

In [17]:
# creat an list
list_1=[10,20,30,40]
list_2=[10.38,20.46,30.39,40.68]
list_3=['Jafar','Nirmal','Nanthini','Pooja']


print ('data type of the veriable',type(list_1))
print ('data type of the veriable',type(list_12))
print ('data type of the veriable',type(list_3))

data type of the veriable <class 'list'>

NameError: name 'list_12' is not defined

In [19]:
# creat an tuple
list_1=[10,20,30,40]
list_2=[10.38,20.46,30.39,40.68]
list_3=['Jafar','Nirmal','Nanthini','Pooja']


print ('data type of the veriable',type(tuple_1))
print ('data type of the veriable',type(tuple_2))
print ('data type of the veriable',type(tuple_3))

NameError: name 'tuple_1' is not defined

In [31]:
# creat an list
list_1=(10,20,30,40)
list_2=(10.38,20.46,30.39,40.68)
list_3=('Jafar','Nirmal','Nanthini','Pooja')


print ('data type of the veriable',type(list_1))
print ('data type of the veriable',type(list_2))
print ('data type of the veriable',type(list_3))

data type of the veriable <class 'tuple'>
data type of the veriable <class 'tuple'>
data type of the veriable <class 'tuple'>

In [23]:

# creat an list
list_1=(10,20,30,40)
list_2=(10.38,20.46,30.39,40.68)
list_3=('Jafar','Nirmal','Nanthini','Pooja')


print ('data type of the veriable',type(list_1))
print ('data type of the veriable',type(list_2))
print ('data type of the veriable',type(list_3))

data type of the veriable <class 'tuple'>
data type of the veriable <class 'tuple'>
data type of the veriable <class 'tuple'>

In [29]:
# creat an set
set_1={10,20,30,40}
set_2={10.38,20.46,30.39,40.68}
set_3={'Jafar','Nirmal','Nanthini','Pooja'}


print ('data type of the veriable',type(set_1))
print ('data type of the veriable',type(set_2))
print ('data type of the veriable',type(set_3))

data type of the veriable <class 'set'>
data type of the veriable <class 'set'>
data type of the veriable <class 'set'>

In [33]:
# creat an boolean datatype

boolean_1=True
boolean_2=False

print ('data type of the veriable',type(boolean_1))
print ('data type of the veriable',type(boolean_2))

data type of the veriable <class 'bool'>
data type of the veriable <class 'bool'>

In [61]:
# creat an dictionary datatype
dictonary_1={'list_1':[10,20,30,40],
             'tuple_1':(10,20,30,40),
             'set_1':(10,20,30,40)}

# show the data type
print ('data type of the veriable',type(dictonary_1))

data type of the veriable <class 'dict'>

 # basic operation

In [77]:
# task_1: type casting
float_2=45.96

# show the datatype
print('data type of the variable',type(float_2))

#typecasting
int_2=int(float_2)

# show the data type
print ('data type of the veriable',type(int_2))

data type of the variable <class 'float'>
data type of the veriable <class 'int'>

In [81]:
# task_1: type casting
int_3=5

# show the datatype
print('data type of the variable',type(int_3))

#typecasting
float_3=int(int_3)

# show the data type
print ('data type of the veriable',type(float_3))

data type of the variable <class 'int'>
data type of the veriable <class 'int'>

In [7]:
# task2:use to round function
float_4=10.1234567890

# round this value three decimal places
rounded_value = round(float_4,3)

#show the output
print('rounded_value are:',rounded_value)

rounded_value are: 10.123

# Arithmatic operation on a data

In [11]:
# addition opreation
# declear the variable
a=10
b=20

# perform the sem
sum_1=a+b

#show the output
print('addtion of two variable:',sum_1)

addtion of two variable: 30

In [13]:
# subraction opreation
# declear the variable
a=10
b=20

# perform the sem
sum_1=a-b

#show the output
print('subraction of two variable:',sum_1)

subraction of two variable: -10

In [15]:
# multiplication opreation
# declear the variable
a=10
b=20

# perform the sem
sum_1=a*b

#show the output
print('multiplicaton of two variable:',sum_1)

multiplicaton of two variable: 200

In [17]:
# divition opreation
# declear the variable
a=10
b=20

# perform the sem
sum_1=a/b

#show the output
print('divition of two variable:',sum_1)

divition of two variable: 0.5

# user difined function

In [24]:
# declear the function named as 'summation',who can perform the addtion in two number

def summation():
    x=10
    y=20
    summation=x+y
    return summation

30

In [34]:
#  declear the function named as 'summation',
# 
# 


def subraction(x,y):
    subraction =x-y
    return subraction

#call the function
subraction(10,30)

-20

In [40]:
#  declear the function named as 'multiplication,
# who can perform the multiplication b/t in two number
#this time you need to that the input form user
# take the input formate user


var_2=int(input('give the first number:'))
var_3=int(input('give the second number:'))


#make that user define function

          
def multiplication(var_2,var_3):
    mul=var_2*var_3
    return mul
          
#call the function
multiplication(var_2,var_3)

give the first number: 20
give the second number: 79

1580